<div class="card mt-2 mt-4">
  <div class="card-header m-auto">
    <H1 class="display-4 fst-italic">Contact Trippify Expert</H1>
  </div>
  <div class="card-body mt-4">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="Name" class="form-label">Name</label>
            </div>
            <div class="col-md-9">
              <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
              <div id="nameHelp" class="form-text">Share your sweet name here.</div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-3"><label for="exampleInputEmail1" class="form-label">Email address</label></div>
            <div class="col-md-9">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text text-start">We'll never share your email with anyone else.</div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-md-3">
              <label for="floatingTextarea2">Question</label>
            </div>
            <div class="col-md-9">
              <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                style="height: 100px"></textarea>
              <div id="emailHelp" class="form-text text-start">You can write whatever you want to ask regarding your
                travel plan...</div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-md-4 mt-2 offset-2">

        <body>
          <div class="wrapper">
            <div class="border-circle" id="one"></div>
            <div class="border-circle" id="two"></div>
            <div class="background-circle">
              <div class="triangle-light"></div>
              <div class="body"></div>
              <span class="shirt-text">G</span>
              <span class="shirt-text">O</span>
              <span class="shirt-text">..</span>
              <span class="shirt-text">O</span>
              <span class="shirt-text">N</span>
              <div class="triangle-dark"></div>
            </div>
            <div class="head">
              <div class="ear" id="left"></div>
              <div class="ear" id="right"></div>
              <div class="hair-main">
                <div class="sideburn" id="left"></div>
                <div class="sideburn" id="right"></div>
                <div class="hair-top"></div>
              </div>
              <div class="face">
                <div class="hair-bottom"></div>
                <div class="nose"></div>
                <div class="eye-shadow" id="left">
                  <div class="eyebrow"></div>
                  <div class="eye"></div>
                </div>
                <div class="eye-shadow" id="right">
                  <div class="eyebrow"></div>
                  <div class="eye"></div>
                </div>
                <div class="mouth"></div>
                <div class="shadow-wrapper">
                  <div class="shadow"></div>
                </div>
              </div>
            </div>
            <span class="music-note" id="one">&#9835;</span>
            <span class="music-note" id="two">&#9834;</span>
          </div>
        </body>
      </div>
    </div>

  </div>
</div>
